<% var app_name = "Planum Docs"; %>

<!-- No need to edit anything below -->

<!doctype html>
<html lang="en">
	<head>
		<title><%=title %> | <%= app_name %></title>
		<% if (description) { %>
		<meta name="description" content="<%= description %>" />
		<% } %> <%- include ('./partials/head_tag.ejs', {config: config}) %>
	</head>
	<body>
		<%- include ('./partials/nav.ejs', {config: config}) %>
		<div class="container">
			<%- include ('./partials/sidebar.ejs', {config: config}) %>
			<div
				class="sidebar-open mt-16 flex h-[calc(100%-4rem)] flex-col md:gap-6 xl:flex-row xl:gap-12 2xl:gap-16 3xl:gap-32 4xl:gap-48"
				id="content"
			>
				<div class="order-2 mb-8 flex-1 pt-px @container/doc" id="md-content">
					<!-- Content starts -->
					<div class="mt-8 text-zinc-500 dark:text-zinc-400">
						<% if (date) { %> Updated — <%= date %> <% } %>
					</div>
					<h1><%= title %></h1>
					<p><%= description %></p>
					<div><%- post %></div>
					<div id="doc-pn" class="mt-12 grid gap-5 @lg/doc:grid-cols-2 @lg/doc:gap-8">
						<div class="col-span-1">
							<% if(prev){ %>
							<a href="<%= prev %>" class="next-prev-btn">
								<div class="font-medium text-zinc-700 dark:text-zinc-300">
									<div class="text-sm">Previous</div>
									<div class="mt-2 w-[calc(100%)] truncate font-medium"><%= prevTitle %></div>
								</div>
							</a>
							<% } %>
						</div>
						<div class="col-span-1">
							<% if(next){ %>
							<a href="<%= next %>" class="next-prev-btn">
								<div class="font-medium text-zinc-700 dark:text-zinc-300">
									<div class="text-sm">Next</div>
									<div class="mt-2 w-[calc(100%)] truncate font-medium"><%= nextTitle %></div>
								</div>
							</a>
							<% } %>
						</div>
					</div>
					<!-- Content ends -->
				</div>
				<!-- Table of Contents starts -->
				<div
					id="toc-sidebar"
					class="order-1 flex-1 md:flex-initial xl:sticky xl:top-16 xl:order-3 xl:max-h-[calc(100vh-4rem)] xl:overflow-auto"
				>
					<div class="mt-8 rounded-md border p-3 pt-4 xl:border-none xl:p-0 dark:border-zinc-900">
						<div class="mb-4 text-sm font-medium text-zinc-700 dark:text-zinc-300">
							TABLE OF CONTENTS
						</div>

						<ul id="toc"></ul>
					</div>
				</div>
				<!-- Table of Contents ends -->
			</div>
		</div>
		<%- include ('./partials/footer.ejs', {config: config}) %>
	</body>
</html>
