<!doctype html>
<html lang="en">
	<head>
		<title><%= config.meta.app_name %></title>
		<meta name="description" content="<%= config.meta.app_description %>" />
		<%- include ('./partials/head_tag.ejs', {config: config}) %>
	</head>
	<body>
		<%- include ('./partials/nav.ejs', {config: config}) %>
		<div class="container">
			<%- include ('./partials/sidebar.ejs', {config: config}) %>
			<div class="sidebar-open mt-16 h-[calc(100%-4rem)]" id="content">
				<div class="mb-8 pt-px">
					<!-- Content starts -->

					<div id="md-content">
						<div><%- post %></div>
					</div>

					<!-- Content ends -->
				</div>
			</div>
		</div>
		<%- include ('./partials/footer.ejs', {config: config}) %>
	</body>
</html>
