<!doctype html>
<html>
	<head>
		<title><%=title %> | Graphite Docs</title>
		<%- include ('./partials/head.ejs') %>
	</head>
	<body>
		<%- include ('./partials/nav.ejs') %>
		<div class="container">
			<%- include ('./partials/sidebar.ejs') %>
			<div
				class="sidebar-open mt-16 flex h-[calc(100%-4rem)] flex-col md:gap-6 lg:flex-row lg:gap-8 xl:gap-12 2xl:gap-16"
				id="content"
			>
				<div class="order-2 mb-8 flex-1 pt-px @container/doc" id="md-content">
					<!-- Content starts -->
					<div class="mt-8 text-zinc-500 dark:text-zinc-400">
						Last updated - <%= new Date(date).toDateString() %>, <%= new
						Date(date).toLocaleTimeString() %>
					</div>
					<h1><%= title %></h1>
					<p class="text-base font-medium leading-8 dark:!text-zinc-200"><%= description %></p>
					<div><%- post %></div>
					<div id="doc-pn" class="mt-12 grid gap-5 @lg/doc:grid-cols-2 @lg/doc:gap-8">
						<div class="col-span-1">
							<% if(prev){ %>
							<a
								href="<%= prev %>"
								class="block rounded-md border border-zinc-300 px-4 py-3.5 shadow hover:bg-zinc-100 hover:no-underline dark:border-zinc-700 hover:dark:bg-zinc-900/50"
							>
								<div class="font-medium text-zinc-700 dark:text-zinc-300">
									<div class="text-sm">Previous</div>
									<div class="mt-2 w-[calc(100%)] truncate font-medium"><%= prevTitle %></div>
								</div>
							</a>
							<% } %>
						</div>
						<div class="col-span-1">
							<% if(next){ %>
							<a
								href="<%= next %>"
								class="block rounded-md border border-zinc-300 px-4 py-3.5 text-right shadow hover:bg-zinc-100 hover:no-underline dark:border-zinc-700 hover:dark:bg-zinc-900/50"
							>
								<div class="font-medium text-zinc-700 dark:text-zinc-300">
									<div class="text-sm">Next</div>
									<div class="mt-2 w-[calc(100%)] truncate font-medium"><%= nextTitle %></div>
								</div>
							</a>
							<% } %>
						</div>
					</div>
					<!-- Content ends -->
				</div>
				<!-- Table of Contents starts -->
				<div
					class="order-1 flex-1 md:flex-initial lg:sticky lg:top-16 lg:order-3 lg:max-h-[calc(100vh-4rem)] lg:w-56 lg:overflow-auto"
				>
					<div class="mt-8 rounded-md border p-3 pt-4 lg:border-none lg:p-0 dark:border-zinc-900">
						<div class="mb-4 text-sm font-medium text-zinc-700 dark:text-zinc-300">
							TABLE OF CONTENTS
						</div>

						<ul id="toc"></ul>
					</div>
				</div>
				<!-- Table of Contents ends -->
			</div>
		</div>
		<%- include ('./partials/footer.ejs') %>
	</body>
</html>
