<!DOCTYPE html>
<html>
	<head>
		<title>Graphite Docs</title>
		<%- include ('./partials/head.ejs') %>
	</head>
	<body>
		<%- include ('./partials/nav.ejs') %>
		<div class="container">
			<%- include ('./partials/sidebar.ejs') %>
			<div class="h-[calc(100%-4rem)] sidebar-open mt-16" id="content">
				<div class="pt-px mb-8">
					<!-- Content starts -->

					<div id="md-content">
						<div><%- post %></div>
					</div>

					<!-- Content ends -->
				</div>
			</div>
		</div>
		<%- include ('./partials/footer.ejs') %>
	</body>
</html>
